header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex; 
    flex-direction: row;
    align-items: center;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 20px;
}
